// Import page-specific CSS files here.
@import "home";

.map {
  width: 600px;
  height: 400px;
  border: 1px solid black;
}

a, a:hover, a:focus {
    text-decoration: none !important;
    color: unset;
}
