.footer {
  background: #FDCBDE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 25px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
<<<<<<< HEAD
  color: #ff0a54;
=======
  color: #ff477e;
>>>>>>> fce67644052dee2dd01a1d0d7b719f0dfc973028
}

.footer-copyright {
  font-size: 25px;
}
