.navbar-lewagon {
 display: flex;
 justify-content: space-between;
 background: #FDCBDE;
 width: 100vw;
 opacity: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}


.logo {
  width: 50px;
}

.cat-link {
  font-size: 20px;
  font-weight: normal;
  margin-top: 30px;
  margin-right: 0px;
  text-decoration: none !important;
  color: black;
  &:hover {
    color: black;
  }
}

.sign-up {
  margin-right: 20px;
}

.nav-item {
  height: 40px;
  line-height: 40px;
  margin-right: 10px;

}

.footer-copyright {
  font-size: 30px;
}
