.navbar-lewagon {
 display: flex;
 justify-content: space-between;
 background: #F4F4F4;
 width: 100vw;
 opacity: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.logo {
  width: 50px;
}

.cat-link {
  font-size: 20px;
  margin-top: 10px;
  margin-right: 0px;
  text-decoration: none !important;
  color: black;
  &:hover {
    color: black;
  }
}

