<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-black">
    <h1>PICK A CAT</h1>
    <h3 class="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">The Cats</h3>
    <%= link_to 'Upload a cat', new_cat_path, class: 'btn btn-flat' %>
  </div>
  <div class="row">
    <% @cats.each do |cat| %>
      <div class="co-12 colsm-6 col-md-4">
        <%= link_to cat_path(cat), class:'text-decoration-none' do %>
            <%= cat.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
