
<h1>GEORGE</h1>
<h3>A really lovable guy</h3>
<p>This cat is the best cat and you'll want to love him forever...but you can't.</p>
<h3>His Qualities</h3>
<ul>
  <li>Male</li>
  <li>Persian</li>
  <li>Orange</li>
</ul>
<%= link_to 'Go Back to Cats', cats_path, class: 'btn btn-flat' %>
